:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --color-background: #fff;
    --color-text: #333;
    --color-link: #646cff;
    --color-link-hover: #535bf2;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #333;
        --color-text: #fff;
    }
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    min-width: 320px;
    font-size: x-large;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

a {
    font-weight: 500;
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
}

.dark {
    background-color: #333;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #333;
}
