:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --color-background: #fff;
    --color-text: #333;
    --color-link: #646cff;
    --color-link-hover: #535bf2;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #333;
        --color-text: #fff;
    }
}

header nav ul {
    display: flex;
    flex-direction: row;
}

section nav ul {
  display: flex;
}

li {
    padding-right: 0.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

body[data-theme="light"] {
    background-color: var(--color-background);
    color: var(--color-text);
    min-width: 320px;
    font-size: x-large;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body[data-theme="dark"] {
    background-color: #333;
    color: #fff;
    min-width: 320px;
    font-size: x-large;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

a {
    font-weight: 500;
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article {
  flex: 1;
}

ul li {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}


footer ul{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  padding-top: 1rem;
}

/*Class and IDs*/

.dark {
    background-color: #333;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #333;
}

.app-container {
  padding: 1rem;
}

.about-section-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.project-section input {
  display: none;
}

.project-section label {
  display: block;
  padding: 8px 0;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 3px;
  border-bottom: black 1px solid;
  transition: ease .5s;
}

.project-section label:hover {
  background: #4E8774;
}

.content {
  padding: 10px 20px;
  border: 1px solid #A7A7A7;
  margin: 0 0 1px 0;
  border-radius: 3px;
}

input+label+.content {
  display: none;
}

input:checked+label+.content {
  display: block;
}


@media (min-width: 300px) and (max-width: 768px) {
  .app-container {
    height: 100%;
  }

  .about-section-container {
    display: flex;
    flex-direction: column;
  }
}