#main-image-container
  background-image: url("https://lh3.googleusercontent.com/u-92bP-tkcS0N2Ps8NTeoFNumfJvQj2AOXOwsX_Cy6ORbkQID1Du-9Qz7aGwMTQND6bhM6gUPqH_GJuQhty6zbvAswX1RNEaYuZ5ZQp9NgHxik7fjmSabzMCD4BSMa-8y4iZp131QNXZlRIsfyw1O7T6TlF1q7QjQ9gnqhyM3yTBg6bKHm0af_ZCQq_m7uHEPJSDBsq-EEGg0MWNO_5foIHgMbUxGERgNqPf7m5mTQzd_za_iuU_ElYBLxYKawDflJ92ONA9sH5BwXNodpJVQKql1a6-LUF6E45uHayE0OygwD9CvRjAAXFs1sMFaOw45EHOGjelWf-2i9yeTPk-pKdGW-uwyBR_eEzgdJr4uesKvDVG5CElDpnaeMvN4DM-CemhEC_PoBo3gY5Xs2_3RvEiyAKkPFsl_6D--3y3-XzHkeGDC6IweC9LLmCML7k8u9DQJBzyvWnGmggaN-vcm--A9P3MRyitmmzNVb7VwG-rFj45_sddS8KV8ZYhwx8uJZD84wmccYpEHUaKPcttJbfnrTvNA8IpuyjouRL5enxONqmQOTNXpSTBieJ_r-zRVqOIa636oUmQRP7K1l0L4pHwxkVwyLlyqNhrxDcfDH5kZgdkL4X4vEWcwYn7-v9qRIy6DSTkBA35VtgxgqZIBbDQQw=w831-h555-no")
  background-position: center center
  background-size: cover
  width: 100%
  height: 450px
  position: relative

@media (min-width: 576px)
  #main-image-container
    height: 100vh
    position: fixed
    right: 0
    top: 0