#root {
  display: block;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.app-container {
  height: 100%;
}


.header-buttons-container {
  display: inline-flex;
  width: 100%;
}

.heading {
  width: 50%;
}

.socials img {
  margin-right: 1rem;
}

.header-buttons-container .socials {
  width: 50%;
}

.header-buttons-container .dark-toggle {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.heading {
  /* border: yellow 2px dotted; */
  /* width: 100%; */
}

.links-container .link {
  margin-right: 3rem;
  font-size: large;
  font-weight: 600;
}

.about {
  /* border: green dotted 2px; */
  /* width: 100%; */
}

.about-section-container {
  /* border: red dotted 4px; */
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.about-section-container .section {
  margin-right: 1rem;
}

.footer {
  /* border: orange 2px dotted; */
}