#page-wrap
  div:nth(2)
    order: 1

#main-content
  text-align: center
  height: 800px
  background-color: lightblue
  padding: 0px

#main-image
  padding: 0px
  // background-image: url('https://images.pexels.com/photos/236047/pexels-photo-236047.jpeg?cs=srgb&dl=landscape-nature-sky-236047.jpg&fm=jpg')
  // background-position: center center
  // background-size: cover
  // padding-bottom: 150%
