#root {
  display: block;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  border: blue dotted 2px;
}

.app-container {
  border: 2px lightcoral dotted;
  height: 100%;
}


.header-buttons-container {
  /* border: red 2px dotted; */
  display: inline-flex;
  width: 100%;
}

.socials img {
  margin-right: 1rem;
}

.header-buttons-container .socials {
  border: purple dotted 5px;
  width: 50%;
}

.header-buttons-container .dark-toggle {
  width: 50%;
  border: purple dotted 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.heading {
  border: yellow 2px dotted;
  /* width: 100%; */
}

.about {
  border: green dotted 2px;
  /* width: 100%; */
}

.footer {
  border: orange 2px dotted;
}