#root {
  display: block;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
}

.app-container {
  height: 100%;
}


.header-buttons-container {
  display: inline-flex;
  width: 100%;
}

.heading {
  width: 50%;
}

.socials img {
  margin-right: 1rem;
}

.header-buttons-container .socials {
  width: 50%;
}

.header-buttons-container .dark-toggle {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.heading {
  /* border: yellow 2px dotted; */
  /* width: 100%; */
}

.links-container .link {
  margin-right: 1rem;
  font-size: large;
  font-weight: 600;
}

.about {
  /* border: green dotted 2px; */
  /* width: 100%; */
}

.about-section-container {
  /* border: red dotted 4px; */
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.about-section-container .section {
  margin-right: 1rem;
}

.project-section {
  /* border: red 3px dotted; */

}

.project-section input {
  display: none;
}

.project-section label {
  display: block;
  padding: 8px 22px;
  margin: 0 0 1px 0;
  cursor: pointer;
  /* background: #6AAB95; */
  border-radius: 3px;
  color: #FFF;
  transition: ease .5s;
}

.project-section label:hover {
  background: #4E8774;
}

.content {
  /* background: #E2E5F6; */
  padding: 10px 25px;
  border: 1px solid #A7A7A7;
  margin: 0 0 1px 0;
  border-radius: 3px;
}

input+label+.content {
  display: none;
}

input:checked+label+.content {
  display: block;
}

.footer {
  /* border: orange 2px dotted; */
  margin-top: 2rem;
}

@media (min-width: 300px) and (max-width: 768px) {
  .header-buttons-container .socials {
    width: 60%;
  }

  .heading {
    width: 100%;
  }

  .about-section-container {
    display: flex;
    flex-direction: column;
  }
}