.main-nav {
  display: flex;
  justify-content: space-around;
  /* border: red dotted 5px; */
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.main-nav {
  margin-top: 5px;
}

.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #718daa;
}


/* ================================= 
  Media Queries
==================================== */
@media (min-width: 320px) {
  .main-nav {
    display: flex;
    width: 100%;
  }
  .main-nav span {
    padding: 0;
  }

  .main-nav a {
    padding: 0;
  }
}

@media (min-width: 769px) {
  .main-nav {
    display: flex;
    width: 50%;
  }

  .main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
  }
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */