header {
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  /* border: red dotted 5px; */
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-container {
  margin-top: 5px;
}

.nav-container a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.nav-container a {
  color: #34495e;
  font-size: 0.99em;
}

.nav-container a:hover {
  color: #718daa;
}

a.active {
  background-color: #718daa;
  color: whitesmoke;
}


/* ================================= 
  Media Queries
==================================== */
@media (max-width: 420px) {
  header {
    /* border: purple 2px dotted; */
    width: 100%;
  }

  .nav-container {
    width: 100%;
    padding: 0px 20px 0px 20px;
    margin: 0;
    /* border: green 2px dotted; */
  }
}

@media (min-width: 480px) {
  header {
    /* border: purple 2px dotted; */
    width: 100%;
  }

  .nav-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 15px;
    /* margin: 0 5px 5px 0; */
    /* padding: 20px; */
    /* border: green 2px dotted; */
  }
  
  ul a {
    padding: 0;
    height: 100%;
    /* border: yellow 2px dotted; */
  }
}

@media (min-width: 769px) {
  .nav-container {
    display: flex;
    width: 50%;
  }

  .nav-container a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
  }
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */