.header {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  /* border: red dotted 5px; */
  width: 100%;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-container {
  margin-top: 5px;
}

.nav-container a {
  padding: 10px 10px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.nav-container a {
  color: #34495e;
  font-size: 0.99em;
}

.nav-container a:hover {
  color: var(--nav-link-color);
}

a.active {
  background-color: var(--nav-link-background);
  color: var(--nav-link-color);
}

/* ================================= 
  Media Queries
==================================== */
@media (min-width: 320px) and (max-width: 480px) {
  .header {
    /* border: purple 2px dotted; */
    width: 100%;
  }

  .nav-container {
    width: 100%;
    margin: 0;
    /* border: green 2px dotted; */
  }
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
